@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Spectral+SC:ital,wght@1,600&display=swap");

body {
  padding: 0;
  margin: 0;
}

.form-main__container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.title {
  font-family: "Spectral SC", serif;

  font-size: 3rem;
}

.form-container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form-container input {
  width: 45%;
  border-radius: 20px;
  margin: 2% auto;
  outline: none;
  padding: 1rem;
  font-size: 1.5rem;
}

#payment-type {
  width: 49%;
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
  margin: 2% auto;
  padding: 1rem;
  font-size: 1.5rem;
}

button {
  width: 25%;
  padding: 1rem;
  border: 1px solid lightblue;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  outline: none;
  background-color: blue;
  margin: 5% 0 5% 0;
  opacity: 0.9;
  transition: 0.3s;
  font-size: 1.5rem;
}

button:hover {
  background-color: green;
  opacity: 1;
}

.main-table {
  border: 2px;
  border-collapse: collapse;
  margin: 5% auto;
  width: 50%;
}

td,
th {
  border: 2px solid black;
  border-top: none;
  border-left: none;
  padding: 0.5rem;
  text-align: left;
}

th {
  font-size: 2rem;
}

td {
  font-size: 1.5rem;
}

tr {
  border-left: 2px solid black;
}

.remove {
  color: red;
  border: 2px solid black;
  font-size: 3rem;
  transition: 1s;
  transition: 1s ease-out;
  width: 1%;
}

.remove:hover {
  width: 10%;
  color: white;
  background-color: red;
  cursor: pointer;
}
